VSVersionInfo(
    ffi=FixedFileInfo(
        filevers=(1, 0, 0, 0),
        prodvers=(1, 0, 0, 0),
        mask=0x3f,
        flags=0x0,
        OS=0x40004,
        fileType=0x1,
        subtype=0x0,
        date=(0, 0)
    ),
    kids=[
    StringFileInfo(
      [
      StringTable(
        '040904B0',
        [StringStruct('CompanyName', 'Trellix - Korea'),
            StringStruct('FileDescription', 'Windows Device Class Collector'),
            StringStruct('FileVersion', '1.0.0.0'),
            StringStruct('InternalName', 'Trellix - Korea'),
            StringStruct('LegalCopyright', 'Copyright © Trellix - Korea 2025'),
            StringStruct('OriginalFilename', 'collect_device_classes.exe'),
            StringStruct('ProductName', 'Windows Device Class Collector'),
            StringStruct('ProductVersion', '1.0.0.0')
        ])
      ]), 
    VarFileInfo([VarStruct('Translation', [1033, 1200])])
  ]
)